client/xml-resources/web-service-references/_convertron/wsdl/127.0.0.1_8023/_convertron.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://server.convertron.eu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.convertron.eu/">

<xs:element name="getAllLessonsForDate" type="tns:getAllLessonsForDate"></xs:element>

<xs:element name="getAllLessonsForDateResponse" type="tns:getAllLessonsForDateResponse"></xs:element>

<xs:element name="getAvailableConfigs" type="tns:getAvailableConfigs"></xs:element>

<xs:element name="getAvailableConfigsResponse" type="tns:getAvailableConfigsResponse"></xs:element>

<xs:element name="getChanges" type="tns:getChanges"></xs:element>

<xs:element name="getChangesResponse" type="tns:getChangesResponse"></xs:element>

<xs:element name="getConfigFile" type="tns:getConfigFile"></xs:element>

<xs:element name="getConfigFileResponse" type="tns:getConfigFileResponse"></xs:element>

<xs:element name="getData" type="tns:getData"></xs:element>

<xs:element name="getDataResponse" type="tns:getDataResponse"></xs:element>

<xs:element name="removeConfigFile" type="tns:removeConfigFile"></xs:element>

<xs:element name="removeConfigFileResponse" type="tns:removeConfigFileResponse"></xs:element>

<xs:element name="setConfigFile" type="tns:setConfigFile"></xs:element>

<xs:element name="setConfigFileResponse" type="tns:setConfigFileResponse"></xs:element>

<xs:element name="setData" type="tns:setData"></xs:element>

<xs:element name="setDataResponse" type="tns:setDataResponse"></xs:element>

<xs:element name="subscribeToConfigChanges" type="tns:subscribeToConfigChanges"></xs:element>

<xs:element name="subscribeToConfigChangesResponse" type="tns:subscribeToConfigChangesResponse"></xs:element>

<xs:complexType name="getAvailableConfigs">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableConfigsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setData">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setDataResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getChanges">
<xs:sequence>
<xs:element name="arg0" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getChangesResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscribeToConfigChanges">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscribeToConfigChangesResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getData">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getDataResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getConfigFile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getConfigFileResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setConfigFile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg2" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setConfigFileResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="removeConfigFile">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeConfigFileResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllLessonsForDate">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllLessonsForDateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>