client/src/META-INF/_convertron.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.convertron.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.convertron.eu/" name="ConvertronWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.convertron.eu/" schemaLocation="http://127.0.0.1:8023/_convertron?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAvailableConfigs">
<part name="parameters" element="tns:getAvailableConfigs"></part>
</message>
<message name="getAvailableConfigsResponse">
<part name="parameters" element="tns:getAvailableConfigsResponse"></part>
</message>
<message name="subscribeToConfigChanges">
<part name="parameters" element="tns:subscribeToConfigChanges"></part>
</message>
<message name="subscribeToConfigChangesResponse">
<part name="parameters" element="tns:subscribeToConfigChangesResponse"></part>
</message>
<message name="getConfigFile">
<part name="parameters" element="tns:getConfigFile"></part>
</message>
<message name="getConfigFileResponse">
<part name="parameters" element="tns:getConfigFileResponse"></part>
</message>
<message name="ping">
<part name="parameters" element="tns:ping"></part>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"></part>
</message>
<message name="getChanges">
<part name="parameters" element="tns:getChanges"></part>
</message>
<message name="getChangesResponse">
<part name="parameters" element="tns:getChangesResponse"></part>
</message>
<message name="removeConfigFile">
<part name="parameters" element="tns:removeConfigFile"></part>
</message>
<message name="removeConfigFileResponse">
<part name="parameters" element="tns:removeConfigFileResponse"></part>
</message>
<message name="setConfigFile">
<part name="parameters" element="tns:setConfigFile"></part>
</message>
<message name="setConfigFileResponse">
<part name="parameters" element="tns:setConfigFileResponse"></part>
</message>
<portType name="ConvertronWS">
<operation name="getAvailableConfigs">
<input wsam:Action="http://server.convertron.eu/ConvertronWS/getAvailableConfigsRequest" message="tns:getAvailableConfigs"></input>
<output wsam:Action="http://server.convertron.eu/ConvertronWS/getAvailableConfigsResponse" message="tns:getAvailableConfigsResponse"></output>
</operation>
<operation name="subscribeToConfigChanges">
<input wsam:Action="http://server.convertron.eu/ConvertronWS/subscribeToConfigChangesRequest" message="tns:subscribeToConfigChanges"></input>
<output wsam:Action="http://server.convertron.eu/ConvertronWS/subscribeToConfigChangesResponse" message="tns:subscribeToConfigChangesResponse"></output>
</operation>
<operation name="getConfigFile">
<input wsam:Action="http://server.convertron.eu/ConvertronWS/getConfigFileRequest" message="tns:getConfigFile"></input>
<output wsam:Action="http://server.convertron.eu/ConvertronWS/getConfigFileResponse" message="tns:getConfigFileResponse"></output>
</operation>
<operation name="ping">
<input wsam:Action="http://server.convertron.eu/ConvertronWS/pingRequest" message="tns:ping"></input>
<output wsam:Action="http://server.convertron.eu/ConvertronWS/pingResponse" message="tns:pingResponse"></output>
</operation>
<operation name="getChanges">
<input wsam:Action="http://server.convertron.eu/ConvertronWS/getChangesRequest" message="tns:getChanges"></input>
<output wsam:Action="http://server.convertron.eu/ConvertronWS/getChangesResponse" message="tns:getChangesResponse"></output>
</operation>
<operation name="removeConfigFile">
<input wsam:Action="http://server.convertron.eu/ConvertronWS/removeConfigFileRequest" message="tns:removeConfigFile"></input>
<output wsam:Action="http://server.convertron.eu/ConvertronWS/removeConfigFileResponse" message="tns:removeConfigFileResponse"></output>
</operation>
<operation name="setConfigFile">
<input wsam:Action="http://server.convertron.eu/ConvertronWS/setConfigFileRequest" message="tns:setConfigFile"></input>
<output wsam:Action="http://server.convertron.eu/ConvertronWS/setConfigFileResponse" message="tns:setConfigFileResponse"></output>
</operation>
</portType>
<binding name="ConvertronWSPortBinding" type="tns:ConvertronWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAvailableConfigs">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="subscribeToConfigChanges">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getConfigFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ping">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getChanges">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="removeConfigFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setConfigFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ConvertronWSService">
<port name="ConvertronWSPort" binding="tns:ConvertronWSPortBinding">
<soap:address location="http://127.0.0.1:8023/_convertron"></soap:address>
</port>
</service>
</definitions>