client/src/META-INF/wsdl/127.0.0.1_8023/_convertron.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.convertron.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.convertron.eu/" name="ConvertronWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.convertron.eu/" schemaLocation="http://127.0.0.1:8023/_convertron?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getData">
<part name="parameters" element="tns:getData"></part>
</message>
<message name="getDataResponse">
<part name="parameters" element="tns:getDataResponse"></part>
</message>
<message name="setData">
<part name="parameters" element="tns:setData"></part>
</message>
<message name="setDataResponse">
<part name="parameters" element="tns:setDataResponse"></part>
</message>
<message name="getAllLessonsForDate">
<part name="parameters" element="tns:getAllLessonsForDate"></part>
</message>
<message name="getAllLessonsForDateResponse">
<part name="parameters" element="tns:getAllLessonsForDateResponse"></part>
</message>
<portType name="ConvertronWS">
<operation name="getData">
<input wsam:Action="http://server.convertron.eu/ConvertronWS/getDataRequest" message="tns:getData"></input>
<output wsam:Action="http://server.convertron.eu/ConvertronWS/getDataResponse" message="tns:getDataResponse"></output>
</operation>
<operation name="setData">
<input wsam:Action="http://server.convertron.eu/ConvertronWS/setDataRequest" message="tns:setData"></input>
<output wsam:Action="http://server.convertron.eu/ConvertronWS/setDataResponse" message="tns:setDataResponse"></output>
</operation>
<operation name="getAllLessonsForDate">
<input wsam:Action="http://server.convertron.eu/ConvertronWS/getAllLessonsForDateRequest" message="tns:getAllLessonsForDate"></input>
<output wsam:Action="http://server.convertron.eu/ConvertronWS/getAllLessonsForDateResponse" message="tns:getAllLessonsForDateResponse"></output>
</operation>
</portType>
<binding name="ConvertronWSPortBinding" type="tns:ConvertronWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllLessonsForDate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ConvertronWSService">
<port name="ConvertronWSPort" binding="tns:ConvertronWSPortBinding">
<soap:address location="http://127.0.0.1:8023/_convertron"></soap:address>
</port>
</service>
</definitions>