client/src/META-INF/wsdl/127.0.0.1_8023/_convertron.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://server.convertron.eu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.convertron.eu/">

<xs:element name="getAllLessonsForDate" type="tns:getAllLessonsForDate"></xs:element>

<xs:element name="getAllLessonsForDateResponse" type="tns:getAllLessonsForDateResponse"></xs:element>

<xs:element name="getData" type="tns:getData"></xs:element>

<xs:element name="getDataResponse" type="tns:getDataResponse"></xs:element>

<xs:element name="setData" type="tns:setData"></xs:element>

<xs:element name="setDataResponse" type="tns:setDataResponse"></xs:element>

<xs:complexType name="setData">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setDataResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getData">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getDataResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllLessonsForDate">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllLessonsForDateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>